<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
		<tab id="anowave" translate="label" sortOrder="1">
			<label>Anowave Extensions</label>
		</tab>
		<section id="ec" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Google Tag Manager</label>
			<tab>anowave</tab>
			<resource>Anowave_Ec::anowave</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Options</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="license" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License</label>
                    <frontend_model>Anowave\Package\Block\License\Field</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="code_split" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use GTM split snippet</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="code_head" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Tag Manager Code (Head)</label>
                    <depends>
                        <field id="*/*/code_split">1</field>
                    </depends>
                </field>
                <field id="code_body" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Tag Manager Code (Body)</label>
                    <depends>
                        <field id="*/*/code_split">1</field>
                    </depends>
                </field>
                <field id="code" translate="label" type="textarea" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Tag Manager Code</label>
                    <depends>
                        <field id="*/*/code_split">0</field>
                    </depends>
                </field>
                <field id="account" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Universal Analytics Tracking ID</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
			</group>
			<group id="adwords" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>AdWords Conversion Tracking</label>
				<field id="conversion" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Adwords Conversion Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="conversion_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion ID</label>
                    <depends>
                        <field id="ec/adwords/conversion">1</field>
                    </depends>
                </field>
				<field id="conversion_label" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion Label</label>
                    <depends>
                        <field id="ec/adwords/conversion">1</field>
                    </depends>
                </field>
                <field id="conversion_currency" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion currency</label>
                    <depends>
                        <field id="ec/adwords/conversion">1</field>
                    </depends>
                </field>
                <field id="conversion_color" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion color</label>
                    <depends>
                        <field id="ec/adwords/conversion">1</field>
                    </depends>
                </field>
                <field id="conversion_format" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion format</label>
                    <source_model>Anowave\Ec\Model\System\Config\Source\Conversion\Format</source_model>
                    <depends>
                        <field id="ec/adwords/conversion">1</field>
                    </depends>
                </field>
			</group>
			
			<group id="facebook" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Facebook Pixel Tracking</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="facebook_pixel_code" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook pixel code</label>
                  	<comment>Obtain from AdManager -> Actions > View Pixel Code in Pixels page</comment>
                </field>
                <field id="facebook_value" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook value</label>
                  	<source_model>Anowave\Ec\Model\System\Config\Source\Value</source_model>
                </field>
			</group>
			<group id="selectors" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced Developer Configuration</label>
				<field id="cart" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart selector</label>
                    <comment>Default: //button[@id="product-addtocart-button"]</comment>
                </field>
                <field id="cart_list" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart selector (in listings)</label>
                    <comment>Default: div/div/div/div/div/form/button[contains(@class,"tocart")]</comment>
                </field>
                <field id="cart_delete" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove from Cart selector</label>
                    <comment>Default: //a[contains(@class,"action-delete")]|//a[contains(@class,"remove")]</comment>
                </field>
                <field id="list" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Impression list selector</label>
                    <comment>Default: //ol[contains(@class, "products")]/li</comment>
                </field>
                <field id="click" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Impression click selector</label>
                    <comment>Default: div/a</comment>
                </field>
			</group>
			<group id="api" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Google Tag Manager API</label>
				<field id="google_auth" translate="label" type="hidden" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Anowave\Ec\Block\Field\Auth</frontend_model>
                </field>
                <field id="google_gtm_ua" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Universal Analytics Tracking ID</label>
                    <comment>ex.: UA-000000-01.</comment>
                </field>
                <field id="google_gtm_account_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account ID</label>
                    <comment>Google Tag Manager Account ID ex.: 19671043.</comment>
                </field>
                <field id="google_gtm_container" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Container ID</label>
                    <frontend_model>Anowave\Ec\Block\Field\Comment</frontend_model>
                </field>
                <field id="google_gtm_enable_remarketing" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configure AdWords Dynamic Remarketing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, the API will create AdWords Dynamic Remarketing tag</comment>
                </field>
                <field id="google_adwords_conversion_id" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AdWords Conversion ID</label>
                    <comment>Used for AdWords Dynamic Remarketing</comment>
                    <depends>
                    	<field id="ec/api/google_gtm_enable_remarketing">1</field>
                    </depends>
                </field>
                <field id="google_adwords_conversion_label" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AdWords Conversion label</label>
                    <comment>Used for AdWords Dynamic Remarketing</comment>
                    <depends>
                    	<field id="ec/api/google_gtm_enable_remarketing">1</field>
                    </depends>
                </field>
			</group>
			<group id="options" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Enhanced Ecommerce Tracking Preferences</label>
				<field id="use_segments" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use category segments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows for filtering reports by category level</comment>
                </field>
                <field id="use_skip_translate" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No translation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use admin labels for product variants. If enabled, current store will be pushed in dataLayer[] to allow for separating results using custom dimension.</comment>
                </field>
                <field id="use_simples" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use simple SKU(s) only</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Applicable for configurable products. If enabled, module will send simple SKU instead of parent SKU. Variant will be kept intact. May result in incorrect correlation between products click/add to cart and performance reports.</comment>
                </field>
            </group>
            <group id="amp" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Accelerated Mobile Pages</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable AMP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Add support for AMP (Accelerated Mobile Pages)</comment>
                </field>
            </group>
            <group id="logs" translate="label" type="hidden" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Log(s)</label>
				<field id="enable" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Anowave\Ec\Block\Field\Log</frontend_model>
					<comment>The event log reflects latest 10 events that have occured.</comment>
                </field>
			</group>
		</section>
	</system>
</config>