<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<ec>
			<general>
				<code_split>1</code_split>
			</general>
			<facebook>
				<facebook_value>revenue</facebook_value>
			</facebook>
			<adwords>
				<conversion>0</conversion>
			</adwords>
			<selectors>
				<cart>//button[@id="product-addtocart-button"]</cart>
				<cart_list>div/div/div/div/div/form/button[contains(@class,"tocart")]</cart_list>
				<cart_delete>//a[contains(@class,"action-delete")]|//a[contains(@class,"remove")]</cart_delete>
				<list>//ol[contains(@class, "products")]/li</list>
				<click>div/a</click>
			</selectors>
			<options>
				<use_segments>1</use_segments>
				<use_skip_translate>0</use_skip_translate>
				<use_simples>0</use_simples>
			</options>
			<adwords>
				<conversion_format>3</conversion_format>
			</adwords>
			<api>
				<google_gtm_enable_remarketing>0</google_gtm_enable_remarketing>
			</api>
		</ec>
	</default>
</config>