<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\Sarp\Api\Data\PaymentMethodInterface" type="Aheadworks\Sarp\Model\PaymentMethod" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileInterface" type="Aheadworks\Sarp\Model\Profile" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileItemInterface" type="Aheadworks\Sarp\Model\Profile\Item" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileOrderInterface" type="Aheadworks\Sarp\Model\Profile\Order" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileAddressInterface" type="Aheadworks\Sarp\Model\Profile\Address" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfilePaymentInfoInterface" type="Aheadworks\Sarp\Model\Profile\PaymentInfo" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\Sarp\Api\Data\ProfileOrderSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\Sarp\Api\Data\ShippingInformationInterface" type="Aheadworks\Sarp\Model\ShippingInformation" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionPlanInterface" type="Aheadworks\Sarp\Model\SubscriptionPlan" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionPlanDescriptionInterface" type="Aheadworks\Sarp\Model\SubscriptionPlanDescription" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionPlanSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartAddressInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart\Address" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartItemInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart\Item" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartTotalsInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart\Totals" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartAddressSearchResultsInterface" type="Aheadworks\Sarp\Model\ResourceModel\SubscriptionsCart\Address\SearchResults" />
    <preference for="Aheadworks\Sarp\Api\Data\SubscriptionsCartPaymentInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart\Payment" />
    <preference for="Aheadworks\Sarp\Api\Exception\OperationIsNotSupportedExceptionInterface" type="Aheadworks\Sarp\Model\SubscriptionEngine\Exception\OperationIsNotSupportedException" />
    <preference for="Aheadworks\Sarp\Api\PaymentMethodManagementInterface" type="Aheadworks\Sarp\Model\PaymentMethodManagement" />
    <preference for="Aheadworks\Sarp\Api\ProfileManagementInterface" type="Aheadworks\Sarp\Model\ProfileManagement" />
    <preference for="Aheadworks\Sarp\Api\ProfileRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\ProfileRepository" />
    <preference for="Aheadworks\Sarp\Api\ProfileOrderRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\Profile\OrderRepository" />
    <preference for="Aheadworks\Sarp\Api\ShippingEstimationInterface" type="Aheadworks\Sarp\Model\SubscriptionsCart\ShippingEstimation" />
    <preference for="Aheadworks\Sarp\Api\SubscriptionsCartRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\SubscriptionsCartRepository" />
    <preference for="Aheadworks\Sarp\Api\SubscriptionsCartItemRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\SubscriptionsCart\ItemRepository" />
    <preference for="Aheadworks\Sarp\Api\SubscriptionsCartAddressRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\SubscriptionsCart\AddressRepository" />
    <preference for="Aheadworks\Sarp\Api\SubscriptionPlanRepositoryInterface" type="Aheadworks\Sarp\Model\ResourceModel\SubscriptionPlanRepository" />
    <preference for="Aheadworks\Sarp\Api\SubscriptionsCartManagementInterface" type="Aheadworks\Sarp\Model\SubscriptionsCartManagement" />

    <virtualType name="Aheadworks\Sarp\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">aw_sarp</argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\Sarp\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Aheadworks\Sarp\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Aheadworks\Sarp\Api\Data\ProfileInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_profile</item>
                    <item name="identifierField" xsi:type="string">profile_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\ProfileItemInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_profile_item</item>
                    <item name="identifierField" xsi:type="string">item_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\ProfileAddressInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_profile_address</item>
                    <item name="identifierField" xsi:type="string">address_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\ProfileOrderInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_profile_order</item>
                    <item name="identifierField" xsi:type="string">id</item>
                    <item name="connectionName" xsi:type="string">sales</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionPlanInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_subscription_plan</item>
                    <item name="identifierField" xsi:type="string">subscription_plan_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionsCartInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_subscriptions_cart</item>
                    <item name="identifierField" xsi:type="string">cart_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionsCartAddressInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_subscriptions_cart_address</item>
                    <item name="identifierField" xsi:type="string">address_id</item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionsCartItemInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">aw_sarp_subscriptions_cart_item</item>
                    <item name="identifierField" xsi:type="string">item_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionPlanInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="descriptionReader" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Description\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="descriptionCreator" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Description\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="descriptionUpdater" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Description\SaveHandler</item>
                    </item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionsCartInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="addressesReader" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Address\ReadHandler</item>
                        <item name="itemsReader" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Item\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="addressesCreator" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Address\SaveHandler</item>
                        <item name="itemsCreator" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Item\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="addressesUpdater" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Address\SaveHandler</item>
                        <item name="itemsUpdater" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Item\SaveHandler</item>
                    </item>
                </item>
                <item name="Aheadworks\Sarp\Api\Data\ProfileInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="addressesReader" xsi:type="string">Aheadworks\Sarp\Model\Profile\Address\ReadHandler</item>
                        <item name="itemsReader" xsi:type="string">Aheadworks\Sarp\Model\Profile\Item\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="addressesCreator" xsi:type="string">Aheadworks\Sarp\Model\Profile\Address\SaveHandler</item>
                        <item name="itemsCreator" xsi:type="string">Aheadworks\Sarp\Model\Profile\Item\SaveHandler</item>
                        <item name="profileOrderCreator" xsi:type="string">Aheadworks\Sarp\Model\Profile\Order\SaveHandler</item>
                        <item name="coreSubscriptionAssigner" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Core\Profile\CreateHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="addressesUpdater" xsi:type="string">Aheadworks\Sarp\Model\Profile\Address\SaveHandler</item>
                        <item name="profileOrderUpdater" xsi:type="string">Aheadworks\Sarp\Model\Profile\Order\SaveHandler</item>
                        <item name="coreSubscriptionUpdater" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Core\Profile\UpdateHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="sarpAddressMapper" type="Magento\Framework\EntityManager\CompositeMapper">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="sarpAddressMapper" xsi:type="object">Aheadworks\Sarp\Model\SubscriptionsCart\Address\Mapper</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="sarpSubscriptionsCartMapper" type="Magento\Framework\EntityManager\CompositeMapper">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="sarpSubscriptionsCartMapper" xsi:type="object">Aheadworks\Sarp\Model\SubscriptionsCart\Mapper</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\EntityManager\MapperPool">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="Aheadworks\Sarp\Api\Data\ProfileAddressInterface" xsi:type="string">sarpAddressMapper</item>
                <item name="Aheadworks\Sarp\Api\Data\SubscriptionsCartAddressInterface" xsi:type="string">sarpAddressMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Sarp\Model\Product\Type\Restrictions">
        <arguments>
            <argument name="supportedProductTypes" xsi:type="array">
                <item name="0" xsi:type="string">simple</item>
                <item name="1" xsi:type="string">virtual</item>
                <item name="2" xsi:type="string">bundle</item>
                <item name="3" xsi:type="string">downloadable</item>
                <item name="4" xsi:type="string">configurable</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\EngineMetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="paypal" xsi:type="array">
                    <item name="code" xsi:type="string">paypal</item>
                    <item name="label" xsi:type="string">PayPal Express</item>
                    <item name="payment_method" xsi:type="string">paypal_express</item>
                    <item name="is_gateway" xsi:type="boolean">true</item>
                    <item name="class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Engine</item>
                    <item name="plan_validator_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\PlanValidator</item>
                    <item name="checkout_config_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\ExpressCheckout\Config</item>
                    <item name="data_sources" xsi:type="array">
                        <item name="billing_period" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Source\BillingPeriod</item>
                        <item name="start_date_type" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Source\StartDateType</item>
                    </item>
                    <item name="data_source_maps" xsi:type="array">
                        <item name="billing_period" xsi:type="array">
                            <item name="billing_frequency" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Source\BillingPeriod\Map\BillingFrequency</item>
                        </item>
                    </item>
                </item>
                <item name="authorizenet" xsi:type="array">
                    <item name="code" xsi:type="string">authorizenet</item>
                    <item name="label" xsi:type="string">Authorize.net</item>
                    <item name="payment_method" xsi:type="string">authorizenet_directpost</item>
                    <item name="is_gateway" xsi:type="boolean">true</item>
                    <item name="class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Engine</item>
                    <item name="plan_validator_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\PlanValidator</item>
                    <item name="checkout_config_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\CheckoutConfig</item>
                    <item name="data_sources" xsi:type="array">
                        <item name="billing_period" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Source\BillingPeriod</item>
                        <item name="start_date_type" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Source\StartDateType</item>
                    </item>
                    <item name="data_source_maps" xsi:type="array">
                        <item name="billing_period" xsi:type="array">
                            <item name="billing_frequency" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Source\BillingPeriod\Map\BillingFrequency</item>
                        </item>
                    </item>
                </item>
                <item name="stripe" xsi:type="array">
                    <item name="code" xsi:type="string">stripe</item>
                    <item name="label" xsi:type="string">Stripe</item>
                    <item name="payment_method" xsi:type="string">aw_sarp_stripe</item>
                    <item name="is_gateway" xsi:type="boolean">true</item>
                    <item name="class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Engine</item>
                    <item name="plan_validator_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\PlanValidator</item>
                    <item name="checkout_config_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\CheckoutConfig</item>
                    <item name="data_sources" xsi:type="array">
                        <item name="billing_period" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Source\BillingPeriod</item>
                        <item name="start_date_type" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Source\StartDateType</item>
                    </item>
                    <item name="data_source_maps" xsi:type="array">
                        <item name="billing_period" xsi:type="array">
                            <item name="billing_frequency" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Source\BillingPeriod\Map\BillingFrequency</item>
                        </item>
                    </item>
                </item>
                <item name="adyen" xsi:type="array">
                    <item name="code" xsi:type="string">adyen</item>
                    <item name="label" xsi:type="string">Adyen</item>
                    <item name="payment_method" xsi:type="string">adyen_cc</item>
                    <item name="is_gateway" xsi:type="boolean">false</item>
                    <item name="class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Engine</item>
                    <item name="plan_validator_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\PlanValidator</item>
                    <item name="checkout_config_class_name" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\CheckoutConfig</item>
                    <item name="data_sources" xsi:type="array">
                        <item name="billing_period" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionPlan\Source\BillingPeriod</item>
                        <item name="start_date_type" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Source\StartDateType</item>
                    </item>
                    <item name="data_source_maps" xsi:type="array">
                        <item name="billing_period" xsi:type="array">
                            <item name="billing_frequency" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Source\BillingPeriod\Map\BillingFrequency</item>
                        </item>
                    </item>
                    <item name="payment_methods" xsi:type="array">
                        <item name="adyen_cc" xsi:type="array">
                            <item name="model" xsi:type="string">AdyenPaymentCcFacade</item>
                            <item name="payment_action" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\CC\PaymentAction</item>
                        </item>
                    </item>
                    <item name="required_modules" xsi:type="array">
                        <!-- todo: module version -->
                        <item name="0" xsi:type="string">Adyen_Payment</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Aheadworks\Sarp\Model\SubscriptionEngine\EngineMetadataInterface" type="Aheadworks\Sarp\Model\SubscriptionEngine\EngineMetadata" />

    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\RestrictionsPool">
        <arguments>
            <argument name="restrictions" xsi:type="array">
                <item name="paypal" xsi:type="array">
                    <item name="subscription_statuses" xsi:type="array">
                        <item name="0" xsi:type="string">active</item>
                        <item name="1" xsi:type="string">pending</item>
                        <item name="2" xsi:type="string">cancelled</item>
                        <item name="3" xsi:type="string">suspended</item>
                        <item name="4" xsi:type="string">expired</item>
                    </item>
                    <item name="subscription_actions" xsi:type="array">
                        <item name="0" xsi:type="string">update</item>
                        <item name="1" xsi:type="string">suspend</item>
                        <item name="2" xsi:type="string">cancel</item>
                        <item name="3" xsi:type="string">activate</item>
                    </item>
                    <item name="subscription_actions_map" xsi:type="array">
                        <item name="active" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">suspend</item>
                            <item name="2" xsi:type="string">cancel</item>
                        </item>
                        <item name="suspended" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">activate</item>
                            <item name="2" xsi:type="string">cancel</item>
                        </item>
                        <item name="pending" xsi:type="array" />
                        <item name="expired" xsi:type="array" />
                        <item name="cancelled" xsi:type="array" />
                    </item>
                    <item name="units_of_time" xsi:type="array">
                        <item name="0" xsi:type="string">day</item>
                        <item name="1" xsi:type="string">week</item>
                        <item name="2" xsi:type="string">semi_month</item>
                        <item name="3" xsi:type="string">month</item>
                        <item name="4" xsi:type="string">year</item>
                    </item>
                    <item name="start_date_types" xsi:type="array">
                        <item name="0" xsi:type="string">defined_by_customer</item>
                        <item name="1" xsi:type="string">moment_of_purchase</item>
                        <item name="2" xsi:type="string">exact_day_of_month</item>
                        <item name="3" xsi:type="string">last_day_of_current_month</item>
                    </item>
                    <item name="can_be_finite" xsi:type="boolean">true</item>
                    <item name="is_initial_fee_supported" xsi:type="boolean">true</item>
                    <item name="is_trial_period_supported" xsi:type="boolean">true</item>
                </item>
                <item name="authorizenet" xsi:type="array">
                    <item name="subscription_statuses" xsi:type="array">
                        <item name="0" xsi:type="string">active</item>
                        <item name="1" xsi:type="string">expired</item>
                        <item name="2" xsi:type="string">suspended</item>
                        <item name="3" xsi:type="string">cancelled</item>
                        <item name="4" xsi:type="string">terminated</item>
                    </item>
                    <item name="subscription_actions" xsi:type="array">
                        <item name="0" xsi:type="string">update</item>
                        <item name="1" xsi:type="string">cancel</item>
                    </item>
                    <item name="subscription_actions_map" xsi:type="array">
                        <item name="active" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">cancel</item>
                        </item>
                        <item name="suspended" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">cancel</item>
                        </item>
                        <item name="expired" xsi:type="array" />
                        <item name="cancelled" xsi:type="array" />
                        <item name="terminated" xsi:type="array" />
                    </item>
                    <item name="units_of_time" xsi:type="array">
                        <item name="0" xsi:type="string">day</item>
                        <item name="1" xsi:type="string">month</item>
                    </item>
                    <item name="start_date_types" xsi:type="array">
                        <item name="0" xsi:type="string">defined_by_customer</item>
                        <item name="1" xsi:type="string">moment_of_purchase</item>
                        <item name="2" xsi:type="string">exact_day_of_month</item>
                        <item name="3" xsi:type="string">last_day_of_current_month</item>
                    </item>
                    <item name="can_be_finite" xsi:type="boolean">true</item>
                    <item name="is_initial_fee_supported" xsi:type="boolean">false</item>
                    <item name="is_trial_period_supported" xsi:type="boolean">true</item>
                </item>
                <item name="stripe" xsi:type="array">
                    <item name="subscription_statuses" xsi:type="array">
                        <item name="0" xsi:type="string">trialing</item>
                        <item name="1" xsi:type="string">active</item>
                        <item name="2" xsi:type="string">past_due</item>
                        <item name="3" xsi:type="string">cancelled</item>
                        <item name="4" xsi:type="string">unpaid</item>
                    </item>
                    <item name="subscription_actions" xsi:type="array">
                        <item name="0" xsi:type="string">update</item>
                        <item name="1" xsi:type="string">cancel</item>
                    </item>
                    <item name="subscription_actions_map" xsi:type="array">
                        <item name="trialing" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">cancel</item>
                        </item>
                        <item name="active" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">cancel</item>
                        </item>
                        <item name="past_due" xsi:type="array">
                            <item name="0" xsi:type="string">update</item>
                            <item name="1" xsi:type="string">cancel</item>
                        </item>
                        <item name="cancelled" xsi:type="array" />
                        <item name="unpaid" xsi:type="array" />
                    </item>
                    <item name="units_of_time" xsi:type="array">
                        <item name="0" xsi:type="string">day</item>
                        <item name="1" xsi:type="string">week</item>
                        <item name="2" xsi:type="string">month</item>
                        <item name="3" xsi:type="string">year</item>
                    </item>
                    <item name="start_date_types" xsi:type="array">
                        <item name="0" xsi:type="string">moment_of_purchase</item>
                    </item>
                    <item name="can_be_finite" xsi:type="boolean">false</item>
                    <item name="is_initial_fee_supported" xsi:type="boolean">false</item>
                    <item name="is_trial_period_supported" xsi:type="boolean">false</item>
                </item>
                <item name="adyen" xsi:type="array">
                    <item name="start_date_types" xsi:type="array">
                        <item name="0" xsi:type="string">moment_of_purchase</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Core\Restrictions\Provider">
        <arguments>
            <argument name="restrictions" xsi:type="array">
                <item name="subscription_statuses" xsi:type="array">
                    <item name="0" xsi:type="string">active</item>
                    <item name="1" xsi:type="string">pending</item>
                    <item name="2" xsi:type="string">cancelled</item>
                    <item name="3" xsi:type="string">suspended</item>
                    <item name="4" xsi:type="string">expired</item>
                </item>
                <item name="subscription_actions" xsi:type="array">
                    <item name="1" xsi:type="string">suspend</item>
                    <item name="2" xsi:type="string">cancel</item>
                    <item name="3" xsi:type="string">activate</item>
                </item>
                <item name="subscription_actions_map" xsi:type="array">
                    <item name="active" xsi:type="array">
                        <item name="1" xsi:type="string">suspend</item>
                        <item name="2" xsi:type="string">cancel</item>
                    </item>
                    <item name="suspended" xsi:type="array">
                        <item name="1" xsi:type="string">activate</item>
                        <item name="2" xsi:type="string">cancel</item>
                    </item>
                    <item name="pending" xsi:type="array" />
                    <item name="expired" xsi:type="array" />
                    <item name="cancelled" xsi:type="array" />
                </item>
                <item name="units_of_time" xsi:type="array">
                    <item name="0" xsi:type="string">day</item>
                    <item name="1" xsi:type="string">week</item>
                    <item name="2" xsi:type="string">semi_month</item>
                    <item name="3" xsi:type="string">month</item>
                    <item name="4" xsi:type="string">year</item>
                </item>
                <item name="can_be_finite" xsi:type="boolean">true</item>
                <item name="is_initial_fee_supported" xsi:type="boolean">true</item>
                <item name="is_trial_period_supported" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\CheckoutConfig">
        <arguments>
            <argument name="dataStorage" xsi:type="object">adyenPaymentConfigDataStorage</argument>
        </arguments>
    </type>

    <virtualType name="AwSarpPaypalCompositeMapper" type="Aheadworks\Sarp\Model\SubscriptionEngine\Api\CompositeMapper">
        <arguments>
            <argument name="mapperClasses" xsi:type="array">
                <item name="base" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Api\Nvp\Mapper\Base</item>
                <item name="addresses" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Api\Nvp\Mapper\Address</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpAuthorizenetCompositeMapper" type="Aheadworks\Sarp\Model\SubscriptionEngine\Api\CompositeMapper">
        <arguments>
            <argument name="mapperClasses" xsi:type="array">
                <item name="base" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api\Mapper\Base</item>
                <item name="addresses" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api\Mapper\Addresses</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpStripeCompositeMapper" type="Aheadworks\Sarp\Model\SubscriptionEngine\Api\CompositeMapper">
        <arguments>
            <argument name="mapperClasses" xsi:type="array">
                <item name="base" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Api\Mapper\Base</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Api\Nvp">
        <arguments>
            <argument name="mapper" xsi:type="object">AwSarpPaypalCompositeMapper</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api">
        <arguments>
            <argument name="mapper" xsi:type="object">AwSarpAuthorizenetCompositeMapper</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Stripe\Api">
        <arguments>
            <argument name="mapper" xsi:type="object">AwSarpStripeCompositeMapper</argument>
        </arguments>
    </type>

    <preference for="Aheadworks\Sarp\Model\SubscriptionEngine\RestrictionsInterface" type="Aheadworks\Sarp\Model\SubscriptionEngine\Restrictions" />
    <virtualType name="AwSarpPayPalNvpFilterCutStringTo127" type="Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Api\Nvp\Filter\CutString">
        <arguments>
            <argument name="length" xsi:type="number">127</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpAuthorizenetFilterCutStringTo40" type="Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api\Filter\CutString">
        <arguments>
            <argument name="length" xsi:type="number">40</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpAuthorizenetFilterCutStringTo50" type="Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api\Filter\CutString">
        <arguments>
            <argument name="length" xsi:type="number">50</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpAuthorizenetFilterCutStringTo60" type="Aheadworks\Sarp\Model\SubscriptionEngine\Authorizenet\Api\Filter\CutString">
        <arguments>
            <argument name="length" xsi:type="number">60</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Paypal\Model\IpnFactory">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="recurring_payment" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
                <item name="recurring_payment_profile_created" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
                <item name="recurring_payment_profile_cancel" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
                <item name="recurring_payment_expired" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
                <item name="recurring_payment_skipped" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
                <item name="recurring_payment_suspended" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionEngine\Paypal\Ipn</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aw_sarp_subscriptionplan_listing_data_source" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\SubscriptionPlan\Grid\Collection</item>
                <item name="aw_sarp_subscriptions_listing_data_source" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\Profile\Grid\Collection</item>
                <item name="aw_sarp_log_listing_data_source" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\Logger\LogEntry\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\ResourceModel\SubscriptionPlan\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_sarp_subscription_plan</argument>
            <argument name="eventPrefix" xsi:type="string">aw_sarp_subscriptionsplan_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">subscriptionsplan_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\SubscriptionPlan</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\ResourceModel\Profile\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_sarp_profile</argument>
            <argument name="eventPrefix" xsi:type="string">aw_sarp_subscriptions_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">subscriptions_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\Profile</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Sarp\Model\ResourceModel\Logger\LogEntry\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">aw_sarp_log</argument>
            <argument name="eventPrefix" xsi:type="string">aw_sarp_log_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">log_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Aheadworks\Sarp\Model\ResourceModel\Logger\LogEntry</argument>
        </arguments>
    </type>
    <virtualType name="AwSarpGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpSubscriptionPlanGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Aheadworks\Sarp\Model\ResourceModel\SubscriptionPlan\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AwSarpGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpSubscriptionsDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Aheadworks\Sarp\Model\ResourceModel\Profile\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AwSarpGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AwSarpLogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Aheadworks\Sarp\Model\ResourceModel\Logger\LogEntry\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AwSarpGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Sarp\Model\SubscriptionsCart\Totals\CollectorsList">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="regularPrice" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">0</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\RegularPrice</item>
                </item>
                <item name="initialFee" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">10</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\InitialFee</item>
                </item>
                <item name="trialPrice" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">20</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\TrialPrice</item>
                </item>
                <item name="subtotal" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">30</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Subtotal</item>
                </item>
                <item name="subtotal_trial" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">40</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Subtotal\Trial</item>
                </item>
                <item name="subtotal_initialFee" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">50</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Subtotal\InitialFee</item>
                </item>
                <item name="shipping" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">60</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Shipping</item>
                </item>
                <item name="tax_subtotal" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">70</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Tax\Subtotal</item>
                </item>
                <item name="tax_shipping" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">80</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Tax\Shipping</item>
                </item>
                <item name="tax_trial" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">90</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Tax\Trial</item>
                </item>
                <item name="grand" xsi:type="array">
                    <item name="sortOrder" xsi:type="number">1000</item>
                    <item name="className" xsi:type="string">Aheadworks\Sarp\Model\SubscriptionsCart\Totals\Collectors\Grand</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="aw-sarp-quote-plugin" type="Aheadworks\Sarp\Model\Quote\QuotePlugin"/>
    </type>
    <type name="Aheadworks\Sarp\Api\SubscriptionsCartRepositoryInterface">
        <plugin name="aw-sarp-subscriptions-cart-plugin" type="Aheadworks\Sarp\Model\SubscriptionsCart\SubscriptionsCartPlugin"/>
    </type>
    <type name="Adyen\Payment\Gateway\Request\CustomerDataBuilder">
        <plugin name="aw-sarp-adyen-customer-data-builder-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\CustomerDataBuilderPlugin"/>
    </type>
    <type name="Adyen\Payment\Gateway\Request\CcAuthorizationDataBuilder">
        <plugin name="aw-sarp-adyen-cc-authorization-data-builder-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\CcAuthorizationDataBuilderPlugin"/>
    </type>
    <type name="Adyen\Payment\Gateway\Request\RecurringDataBuilder">
        <plugin name="aw-sarp-adyen-recurring-data-builder-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\RecurringDataBuilderPlugin"/>
    </type>
    <type name="Adyen\Payment\Gateway\Request\BrowserInfoDataBuilder">
        <plugin name="aw-sarp-adyen-browser-info-data-builder-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\BrowserInfoDataBuilderPlugin"/>
    </type>
    <type name="Adyen\Payment\Gateway\Validator\GeneralResponseValidator">
        <plugin name="aw-sarp-adyen-general-response-validator-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\GeneralResponseValidatorPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="aw-sarp-adyen-order-invoice-plugin" type="Aheadworks\Sarp\Model\SubscriptionEngine\Adyen\Plugin\Order\InvoicePlugin"/>
    </type>

    <type name="Aheadworks\Sarp\Model\SubscriptionEngine\Core\Subscription\SecureDataFilter">
        <arguments>
            <argument name="privateData" xsi:type="array">
                <item name="adyen_cc" xsi:type="array">
                    <item name="0" xsi:type="string">encrypted_data</item>
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="Aheadworks\Sarp\Model\Logger\LoggerInterface" type="Aheadworks\Sarp\Model\Logger\Logger" />

    <type name="Aheadworks\Sarp\Block\Checkout\LayoutProcessorProvider">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="addressFormAttributes" xsi:type="string">Aheadworks\Sarp\Block\Checkout\LayoutProcessor</item>
                <item name="directory" xsi:type="string">Magento\Checkout\Block\Checkout\DirectoryDataProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Sarp\Model\ResourceModel\Profile\Order">
        <arguments>
            <argument name="connectionName" xsi:type="string">sales</argument>
        </arguments>
    </type>

</config>
