<div class="aw-sarp-cart_subscription-plans__container">
    <div class="title">
        <h2 data-bind="i18n: 'Select subscription plan'"></h2>
    </div>
    <div class="content">
        <div class="aw-sarp-cart_subscription-plan-items" data-bind="css: items().length > 3 ? 'wide': 'narrow'">
            <!-- ko foreach: items -->
            <div class="item" data-bind="visible: isSelected() || !$parent.isPlanSelected()">
                <div class="item-content__container">
                    <div class="block-description">
                        <strong class="title" data-bind="text: storefront_title"></strong>
                        <!-- ko if: storefront_description -->
                        <div class="description">
                            <p data-bind="html: storefront_description"></p>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="block-details">
                        <div class="select-action">
                            <button type="button"
                                    class="action primary"
                                    data-bind="
                                        attr: {'label': $t('Select Plan')},
                                        css: isSelected() ? '_selected' : '',
                                        click: $parent.onSelectPlanClick,
                                        event: {
                                            mouseover: $parent.onSelectPlanMouseOver,
                                            mouseout: $parent.onSelectPlanMouseOut
                                        }
                                        ">
                                <span data-bind="i18n: selectButtonTitle()"></span>
                            </button>
                        </div>
                        <div class="more-details" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
                            <a class="more-link" href="#" data-role="title">
                                <span data-bind="i18n: 'See more details'"></span>
                            </a>
                            <div data-role="content">
                                <table class="details-table">
                                    <tbody>
                                        <tr>
                                            <th data-bind="i18n: 'Number Of Payments'"></th>
                                            <td data-bind="text: number_of_payments"></td>
                                        </tr>
                                        <tr>
                                            <th data-bind="i18n: 'Repeat'"></th>
                                            <td data-bind="text: repeat"></td>
                                        </tr>
                                        <tr>
                                            <th data-bind="i18n: 'Start'"></th>
                                            <td data-bind="text: start"></td>
                                        </tr>
                                        <!-- ko if: is_trial_period_enabled -->
                                        <tr>
                                            <th data-bind="i18n: 'Trial Period'"></th>
                                            <td><!--ko text: trial_total_billing_cycles --><!--/ko--> <!--ko i18n: 'Payments' --><!--/ko--></td>
                                        </tr>
                                        <!-- /ko -->
                                        <tr>
                                            <th data-bind="i18n: 'Trial Price'"></th>
                                            <td data-bind="i18n: is_trial_period_enabled ? 'Yes' : 'No'"></td>
                                        </tr>
                                        <tr>
                                            <th data-bind="i18n: 'Initial Fee'"></th>
                                            <td data-bind="i18n: is_initial_fee_enabled ? 'Yes' : 'No'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
